@model KUSYS_Demo.Models.EnrollmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <select id="StudentSelection" class="form-select" asp-items="Model.StudentList" asp-for="StudentId">
                <option value="default">Select A Student</option>
            </select>
            <select id="CourseList" class="form-select" asp-items="Model.CourseList" asp-for="CourseId">
                <option value="default">Select A Course</option>
            </select>


@*             

             <select id="CourseList1" class="form-select" >
                <option value="default">Select A Course</option>
            </select>

           @section Scripts2{

                <script>
                    $('#StudentSelection').change(function () {
                        $('#CourseList1').attr('disabled',false);
                        var id=$(this).val();
                        $('#CourseList1').empty();
                        $.ajax({
                            url:'/Enrollment/CourseList?id='+id,
                            success:function(result) {
                                $.each(result,function(i,data) {
                                    $('#CourseList1').append('<option value='+data.Id+'>'+data.name+'</option>');
                                });
                            }
                        });

                    });

                    

                </script>

            }*@
            

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>